.p6n-bq-cm-readonly .CodeMirror {
  height: auto;
}

.p6n-bq-code-mirror .CodeMirror {
  height: 100%;
}

#themeSelect {
  border: 1px solid #3367d6;
  font-size: 13px;
  color: #3367d6;
  text-transform: uppercase;
  text-align: right;
  font-weight: 500;
}
